{% extends 'app/layout.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <img src="{{ bike.image.url }}" class="img-responsive">
            <h1>{{ bike.headline }}</h1>
            <p>{{ bike.description }}</p>
        </div>
        <div class="col-md-4 col-xs-8 content-details">
            <h2>{{ bike.model }}</h2>
            <h3>$ {{ bike.price }}</h3>
            <h4>Size: {{ bike.size }}</h4>


            <a class="btn btn-primary" href="{% url 'index' %}">Back to the list</a>
        </div>
        <div class="col-md-2 col-xs-4">
            <img src="{{ bike.brand.image.url }}" class="img-responsive center-block">
        </div>
    </div>
{% endblock %}