.main-container{
    margin-top: 60px;
}

.card {
    cursor: pointer;
}

@media (min-width: 768px) {
    .card {
        height: 240px;
    }

    #sort-selector{
        margin-top: 15px;
    }
}

@media (min-width: 1200px) {
    .card {
         height: 180px;
    }
}
.card:hover .text b{

    color: grey;
}

.error-messages{
    margin-top: 10px;
    margin-bottom: 10px;
    color: #e21d1d;
}

.card > .text {
    text-align: center;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input#id_image {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}